{% extends 'partials/base.html' %}
{% block title %}Staff Page{% endblock %}

{% block content %}

{% include 'partials/topnav.html'%}

<div class="container">
    <div class="row my-4">
        <div class="col-md-4"></div>
        <div class="col-md-8">
        </div>
        <div class="container">
            <div class="row my-4">
                <div class="col-md-4">
        
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header bg-dark text-white">
                            Profile Page
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <span class="h4"> Profile Information</span> 
                                    <hr>
                                    <table class="table bg-white table-borderless">
                                        <tbody>
                                            <tr>
                                                <th scope="row">Name</th>
                                                <td>{{workers.username}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Email</th>
                                                <td>{{workers.email}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Phone</th>
                                                <td>{{workers.phone}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Address</th>
                                                <td>{{workers.address}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Staff Status</th>
                                                <td>{{workers.is_staff}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Active/Inactive</th>
                                                <td>{{workers.is_active}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Date of joining</th>
                                                <td>{{workers.date_joined}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
        
                                </div>
                                <div class="col-md-4">
                                    {% if user.image %}
                                        <img class="img-thumbnail" src="{{ workers.image.url }}" alt="">
                                    {% else %}
                                        <p>No profile image available</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>
        
        </div>
    </div>
</div>

    {% endblock %}